<div class="main">
  <div class="inner">
    <div class="form__wrapper">
        <%# 「モデル名」にはUserモデルであれば@userを渡しましょう。%>
        <%# 「ログイン機能へのパス」は、devise導入後にrails routesを実行してdevise/sessions#createへのパスを確認し、記載してください。 %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card login p-5">
      <h2 class="page-heading">ユーザーログイン</h2>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control mb-4" %>
          </div>

          <div class="field">
            <%= f.label :password, "パスワード（6文字以上）" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control mb-4" %>
          </div>

          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary w-100 mt-2"  %>
          </div>
        <% end %>
      </div>
    
    </div>
  </div>
</div>