<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProtoSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">

<style>
  
</style>
  </head>
  <body>  
    <header class="header">
    <%# <div class="container bg-danger p-2 mt-2 col-12">
    <div class="row bg-warning  col-12">
      <div class="box1 col-md-6 mr-auto bg-primary p-3 ">box1</div>
      <div class="box2 col-md-2 bg-success  bd-highlight p-2">box2</div>
      <div class="box3 col-md-2 bg-secondary  bd-highlight p-2">box3</div>
    </div>
    </div>
    <div class="container">
      <div class="row bg-primary ">
      <div class="box1 p-1 col-2 h-50 w-50 bg-warning">box1</div>
      <div class="box2 p-1 col-2 h-50 w-50 bg-info">box2</div>
      <div class="box3 p-1 col-2 h-50 w-50 bg-success">box3</div>
      <div class="box4 p-1 col-2 h-100 w-50 bg-dark">box4</div>
      </div>
    </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
        <ul class="navbar-nav ml-auto d-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> %>

      <div class="inner">
        <div class="nav">
          <div class="nav__left mr-auto mt-3 col-sm-6">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
          <%# ログインしているときは以下を表示するようにしましょう %>
          <% if user_signed_in?%>
            <div class="nav__right col-sm-4 d-flex justify-content-sm-end">
              <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-primary mt-3 p-3",  method: :delete%>
              <%= link_to "New Proto", new_prototype_path, class: "btn btn-secondary mt-3 p-3"%>
            </div>
          <% else %>

          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
            <% end %>
          <%# // ログインしていないときは上記を表示するようにしましょう %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
    </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
